.topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 12px;
  flex-wrap: wrap;
}

.searchBox {
  display: flex;
  align-items: center;
  gap: 10px;
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 12px;
  padding: 8px 16px;
  flex: 1;
  max-width: 370px;

  input {
    background: transparent;
    border: none;
    outline: none;
    color: var(--Text-Primary, #fafafa);
    font-size: 16px;
    font-weight: 500;
    width: 100%;

    &::placeholder {
    color: var(--Text-Primary, #fafafa);
    }
  }

  img {
    width: 20px;
    height: 20px;
    // opacity: 0.7;
    flex-shrink: 0;
  }
}

.actions {
  display: flex;
  gap: 10px;
}

.btnOutline {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s;
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: var(--Text-Primary, #fafafa);

  img {
    width: 20px;
    height: 20px;
  }

  &:hover {
    background: rgba(255, 255, 255, 0.08);
  }
}

.btnPrimary {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  transition: opacity 0.2s;
  background: var(--Primary, #02df82);
  color: #000;

  img {
    width: 16px;
    height: 16px;
  }

  &:hover {
    opacity: 0.85;
  }
}

.plusIcon {
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
}
