.wrapper {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.messageCell {
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #ccc;
}

